
<div class="text-center pb-3">
	<h3>COMMON STATUS</h3>
</div>
<div>
	<button (click)="addCmnStatus()" class="btn btn-primary">Add Common Status</button>
</div>
<br>
<table class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col"> CMN STATUS</th>
			<th scope="col"> STATUS NAME</th>
			<th scope="col">ACTIONS</th>

            	<!--abcd-->
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let cmnStatus of cmnStatus; index as i">
			<th scope="row">{{ i + 1 }}</th>
			 <td>{{ cmnStatus.cmnStatusId }}</td> 
			 <td>{{ cmnStatus.cmnStatusName }}</td>
			 
			<!--start-->
			<td>
				<i (click)="editCmnStatus(cmnStatus)" class="bi bi-pencil"></i>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <!-- Space between icons -->
				<i (click)="removeCmnStatus(cmnStatus.cmnStatusId)" class="bi bi-trash text-danger" *ngIf="cmnStatus.cmnStatusId !== 'I'"></i>
			</td>
		</tr>
	</tbody>
</table>
