<div class="container mt-5">
  <div class="row justify-content-center">
 
    <div class="text-center pb-5" style="">
      <div class="card text-center bg-light shadow-sm" style="border: 1px solid #008DDA;width: 25%;margin: auto;">
        <div class="card-body p-0">
          <h3 class="p-3">{{ totalCount }}</h3>
          <h3 class=" p-2" style="color: #008DDA !important;" >Total Count</h3>
    
        </div>
      </div>
    </div>
    
 
    <div class="col-lg-3 mb-4">
      <div class="card text-center bg-light shadow" style="border: 1px solid #008DDA;"  >
        <div class="card-body p-0">
          <h3 class="p-3">{{ placedDto.stdStatusCount }}</h3>
          <h3 class=" p-2" style="color: #008DDA !important;">Placed</h3>
         
        </div>
      </div>
    </div>
    
    <div class="col-lg-3 mb-4">
      <div class="card text-center bg-light shadow " style="border: 1px solid #008DDA;">
        <div class="card-body p-0">
          <h3 class="p-3">{{ inTrainingDto.stdStatusCount }}</h3>
          <h3 class="p-2" style="color: #008DDA !important;" >In-Training</h3>
         
        </div>
      </div>
    </div>
    
    <div class="col-lg-3 mb-4">
      <div class="card text-center bg-light shadow" style="border: 1px solid #008DDA;">
        <div class="card-body p-0">
          <h3 class="p-3">{{ registeredDto.stdStatusCount }}</h3>
          <h3 class=" p-2" style="color: #008DDA !important;">Registered</h3>
          
        </div>
      </div>
    </div>
  </div>
</div>