<div class="text-center pb-3">
	<h3 class="headerh3"> Stream</h3>
</div>
<div>
	<button (click)="addStream()" class="btn addbutton btn btn-warning ">Add Stream</button>
</div>
<br>
<table class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col"> Stream Name</th>
			<th scope="col"> Status</th>
			<th scope="col">Action</th>
			<!--abcd-->
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let stream of streams; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>{{ stream.streamName }}</td>
			<td>
				<span class="badge" [ngClass]="[
					stream.cmnStatusId == 'A' ? ' text-bg-success' : ' text-bg-danger'
				  ]">{{
					stream.cmnStatusId === "A"
					? "ACTIVE"
					: stream.cmnStatusId === "I"
					? "INACTIVE"
					: ""
					}}</span>
			</td>

			<!--start-->
			<td>
				<i (click)="editStream(stream)" class="bi bi-pencil"></i>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <!-- Space between icons -->
				<i (click)="removeStream(stream.streamId)" class="bi bi-trash text-danger" 
				*ngIf="stream.cmnStatusId !== 'I'">
				</i>
			</td>
		</tr>
	</tbody>
</table>